---
import '@/styles/style.css'
import '@/styles/geometry.css'
import favicon from '@public/favicon.png?inline'; 
import { getCollection } from 'astro:content';

const clubs = await getCollection("clubs")
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>amrita.town clubs</title>
	</head>
	<body>
		<div style="display: flex; flex-direction: row; gap: 1rem; align-items: center;" >
			<img src={favicon} style="height: 4.2rem; image-rendering: pixelated; margin-left: -0.5rem" />
			<h1>clubs</h1>
		</div>
		<div class="clubs-grid">
			{clubs.map(e => (
				<div class="club-container">
					<div class="club-info">
						<p><b style={`color: ${e.data.accent_color || 'var(--text)'};`}>{e.data.name}</b></p>
						<p>{e.data.description}</p>
						<p>{e.data.type[2].join(', ')}</p>
					</div>
					<img src={"/icons/" + e.data.name.toLowerCase().replace(/\s+/g, '-') + ".png" || favicon} class="club-favicon" />
				</div>
			))
			}
		</div>
	</body>
</html>
